mixin tl_article(e)
    .timeline-block.article-block(class=tl_entry_classes(e))
        .timeline-img.picture
        .timeline-content
            .article
                img(src=e.og.image)
                .title.floated= e.og.title or e.title
                .release-date.floated= e.date_str
                .description.floated= e.og.description or e.description


mixin tl_quote(e)
    .timeline-block.quote-block(class=tl_entry_classes(e))
        .timeline-img.picture
        .timeline-content
            .quote(style="background-image: url('{{ e.img_url }}') ")
                div.text 
                    span.huge &ldquo; 
                    | {{ e.text }}
                div.reference
                    div
                        span.position - {{ e.person.position }}, 
                        span.name {{ e.person.name }}
                    div= e.source


mixin tl_gallery(e)
    .timeline-block.gallery-block(class=tl_entry_classes(e))
        .timeline-img.picture
        .timeline-content
            .images
                for url in e.images[:3]
                    img.gallery-image(src=url)
                    span(style="display: inline-block; width: 5px;")


doctype html5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        title Timeline

        link(href="/static/timeline/css/reset.css", rel="stylesheet")
        link(href="/static/timeline/css/timeline.css", rel="stylesheet")

        style
            body {
                background-color: #fafafa;
            }

            .quote {
                background-repeat: no-repeat;
                background-origin: content-box;
                background-size: contain;
            }

            .timeline-content {
                padding: 0px;
            }

            .timeline-img {
                width: 12px;
                height: 12px;
                left: 50%;
                margin-left: -6px;
                margin-top: 24px;
                background-color: #ff9999; 
            }

            .timeline-content {
                width: 48%;
            }





            .quote img { border-radius: 5px; }
            .quote .text { 
                color: white;
                padding: .6em;
                min-height: 120px;
                margin-left: 40%; 
                background-color: #adbcc3;
            }
            .quote .reference { 
                color: white;
                padding: .6em;
                text-align: right;
                margin-left: 40%; 
                background-color: #859ca7;
            }

            .quote .reference .name {
                font-weight: bold;
            }

            .timeline-block:nth-child(even) .text {
                margin-left: 0%; 
                margin-right: 40%; 
            }

            .timeline-block:nth-child(even) .reference {
                margin-left: 0%; 
                margin-right: 40%; 
            }

            .timeline-block:nth-child(even) .quote {
                background-position-x: 100%;
            }

            .timeline-img.picture {
                background: #d7e4ed;
            }

            .quote-block.timeline-block:nth-child(odd) .timeline-content {
                padding-left: 5%;
                background-color: #fafafa;
            }

            .quote-block.timeline-block:nth-child(even) .timeline-content {
                padding-right: 5%;
                background-color: #fafafa;
            }



            .article {
                min-height: 140px;
                padding: .6em;
            }

            .article .title {
                font-weight: bold;
            }

            .article .description {
                padding-top: .8em;
            }

            .article .release-date {
                color: red;
                padding-top: .8em;
            }

            .article img {
                height: 100px;
                float: right;
            }

            .article .floated {
                margin-right: 110px;
            }

            .article-block:nth-child(even) .article img {
                height: 100px;
                float: left;
            }

            .article-block:nth-child(even) .floated {
                margin-right: inherit;
                margin-left: 110px;
            }

             

            .quote-block:nth-child(odd) .timeline-content::before {
                border-left-color: #adbcc3;
            }

            .quote-block:nth-child(even) .timeline-content::before {
                border-right-color: #adbcc3;   
            }

            .timeline::before {
                background: #ff9999;
            }

            .timeline-img.picture {
                background-color: #ff9999; 
            }





            .gallery-image {
                height: 90px;
            }

            .large-images .gallery-image {
                height: 130px;
            }

            .huge-images .gallery-image {
                height: inherit;
                max-height: inherit;
            }

            .gallery-image img:last-child {
                border-top-left-radius: 5px;
            }

            .gallery-image img:first-child {
                border-radius: 5px;
            }

            .gallery-block .images {
                background-color: white;
                padding: .6em;
            }

            .gallery-block:nth-child(odd) .timeline-content .images {
                float: right;
            }

            .gallery-block:nth-child(even) .timeline-content .images {
                float: left;
            }

            .timeline-block {
                margin-bottom: 1.2em;
            }

            .gallery-block .timeline-content {
                background-color: #fafafa;                
            }

            .text .huge {
                font-weight: bold;
                font-size: 2em;
            }



        script(src="/static/jquery.js")
        script
            $(document).ready(function() {
                $('.scale-update').click(function() {
                    //- var classes = $(this).attr('class').split(/\s+/),
                    //-     scale = '';

                    //- $.each(classes, function(index, item) {
                    //-     if (item.indexOf('rating-') == 0) {
                    //-         scale = item.split('-')[1];
                    //-     }
                    //- });

                    //- $('.timeline').removeClass('scale-1 scale-2 scale-3 scale-4 scale-5');
                    //- $('.timeline').addClass('scale-' + scale);

                    $('.rating-1 .rating-2').remove()
                }); 
            });

    body
        div(style="text-align: center; cursor: pointer;")
            a.scale-update.rating-1 [1]
            a.scale-update.rating-2 [2]
            a.scale-update.rating-3 [3]
            a.scale-update.rating-4 [4]
            a.scale-update.rating-5 [5]

        section.timeline.container
            for entry in entries
                if entry.type == 'quote'
                    +tl_quote(entry)
                if entry.type == 'article'
                    +tl_article(entry)
                if entry.type == 'gallery'
                    +tl_gallery(entry)                       

